{% extends "base.html" %}
{% block content %}

<p>
    <form method="POST" action="/toptable" class="inline">
        {% csrf-field %}
        <input type="hidden" name="layer" value="eciivsd">
        <button type="submit" name="submit_param" value="submit_value" class="link-button">
           ECII vs. Deep
        </button>
    </form>
</p>

<p>
    <form method="POST" action="/toptable" class="inline">
        {% csrf-field %}
        <input type="hidden" name="layer" value="mecvslec">
        <button type="submit" name="submit_param" value="submit_value" class="link-button">
           Med. vs Lat.
        </button>
    </form>
</p>


<p>
    <form method="POST" action="/toptable" class="inline">
        {% csrf-field %}
        <input type="hidden" name="layer" value="ovsy">
        <button type="submit" name="submit_param" value="submit_value" class="link-button">
            Old vs Young
        </button>
    </form>
</p>

{% endblock %}
