{% extends "base.html" %}
{% block content %}
<div class="row">
    <div class="span12">

        {% for result in results %}

        <p>Gene name: {{result.id}}</p>
        <p>FDR: {{result.adj_p_val}}</p>
        <p>ECIIvsD FDR: {{result.eciivsd_adj_p_val}}</p>
        <p>MECvsLEC FDR: {{result.mecvslec_adj_p_val}}</p>
        <p>OvsY FDR: {{result.ovsy_adj_p_val}}</p>

        <img src="img/{{result.id}}.png" alt="{{result.id}}">
        <!-- # style="width:304px;height:228px;"> -->
        {% endfor %}

        <form method="POST" action="/search">
            <div class="form-group">
                {% csrf-field %}
                <p>
                    Gene search:
                    <input class="form-control"
                           type="text"
                           name="name"
                           value=" " />
                </p>
                <input type="submit" class="btn btn-primary" value="Search" />
            </div>
        </form>
    </div>
</div>
{% endblock %}
